*{
	box-sizing: border-box;
	text-align: center;
}

body{
	font-size: 24px;
	color: #777777;
}


header{
	background-color: #ccc;
	padding: 20px;
	margin-bottom: 20px;
}

section{
	padding: 20px;
	margin-bottom: 20px;
}

p{
	text-align: justify;
    margin-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

#p1{
	text-align: justify;
	position: relative;
	left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 50px;
    padding-left: 30px;
}

#top{
}

#name
{
	position: fixed;
	background-color: #4aaaa5;
	width: 18%;
	color: white;
	left: 100px;
	font-size: 28px;
	top: 0;
}

#tab1
{
	position: absolute;
	background-color: #ffffff;
	left: 750px;
	float: left;
	font-size: 20px;
	top: 0;
}


#tab2
{
	position: absolute;
	background-color: #ffffff;
	left: 830px;
	float: left;
	font-size: 20px;
	top: 0;
}

#tab3
{
	position: absolute;
	background-color: #ffffff;
	left: 920px;
	float: left;
	font-size: 20px;
	top: 0;
}

#body
{
	clear: both;
	position: relative;
	background-color: #dddddd;
	overflow: auto;
	width: 100%;
	height: 550px;
	top: 0;
	margin: 0;
	border: 2px solid #777777;
}

#about
{
	position: relative;
	background-color: #ffffff;
	width: 30%;
	font-size: 28px;
	margin-top: 0;
	height: 30px;
	padding: 30px;
	left: 0px;
	color: #4aaaa5;
}

#content
{
	position: relative;
	background-color: #ffffff;
	width: 60%;
	height: 450px;
	top: 0;
	left: 70px;
	border: 2px solid #777777;
	font-size: 20px;
	text-align: left;
}

#division{
	background-color: #6ea3da;
	padding: 20px;
	margin-top: 20px;
}

#image
{
	position: relative;
	left: 30px;
	float: left;
}

aside
{
	background-color: #fff;
	width: 33%;
	height: 200px;
	border: 1px solid #eee;
	padding: 20px;
	float: left;
	margin-left: 30px;
}

footer{
	text-align: center;
	padding: 20px;
	height: 50px;
	background-color: #777777;
}